In [11]:
import folium
from folium.plugins import TimestampedGeoJson
from folium import IFrame
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.io as pio
import numpy as np

In [12]:
ds_path = r'C:\Users\User\VisualStudioProjects\controllingDKWpriv\controllingDKWpriv\NewReports\md2.xlsx'
df_stores = pd.read_excel(ds_path, sheet_name='ds')
df_stores['Longitude'] = df_stores['Longitude'].str.replace(',','.')
df_stores['Latitude'] = df_stores['Latitude'].str.replace(',','.')
df_stores['Longitude'] = pd.to_numeric(df_stores['Longitude'], errors='coerce')
df_stores['Latitude'] = pd.to_numeric(df_stores['Latitude'], errors='coerce')

df_stores['Store Opening Date'] = pd.to_datetime( df_stores['Store Opening Date'], format='%d.%m.%Y')

df_stores.head()

,Site,Site.1,Longitude,Latitude,Postal Code,Store Opening Date,Type of Concept,Site / PC Status,Counter,Makroregion,Region
0,P201,"Gdańsk, Matarnia",18.51856,54.37219,80-298,2016-04-15,SC30,Comp.,1.0,Region 5,North 1
1,P202,"Gdańsk, City Meble",18.58977,54.38919,80-266,2000-05-27,SC30,Comp.,1.0,Region 5,North 6
2,P203,"Poznań, Franowo",16.98776,52.38063,61-285,2013-09-25,SC30,Comp.,1.0,Region 2,Central 1
3,P204,"Szczecin, Wiosenna",14.66207,53.38535,70-807,2009-05-08,SC30,Comp.,1.0,Region 5,North 4
4,P205,"Szczecin, Mieszka",14.52453,53.41297,71-011,2001-03-03,SC30,Comp.,1.0,Region 5,North 4

In [13]:
mask = df_stores[['Site', 'Longitude', 'Latitude', 'Store Opening Date']].notna().all(axis=1)
df = df_stores[mask]
df = df[['Site', 'Longitude', 'Latitude', 'Store Opening Date']]
df = df.sort_values('Store Opening Date', ascending=True)

In [14]:

df= pd.read_excel(r'C:\Users\User\VisualStudioProjects\controllingDKWpriv\controllingDKWpriv\NewReports\dfv.xlsx')
df.head()

   Unnamed: 0  Site  Longitude  Latitude Store Opening Date      value
0          38  P240   23.13275  53.13862         2003-09-30  10.980110
1          41  P243   20.90645  52.23998         2003-10-25  21.546497
2          42  P244   16.83961  52.35381         2003-12-13  27.150112
3          44  P246   15.12785  51.63961         2004-09-30  30.104564
4          45  P247   19.35008  51.66521         2004-11-19  33.058719

DZIAŁAJĄCA WERSJA

In [15]:
import pandas as pd
import folium

# Tworzenie mapy
m = folium.Map(location=[52.1000, 20.8000], zoom_start=6)


# Dodawanie TimestampedGeoJson do mapy dla animacji
features = [
    {
        'type': 'Feature',
        'geometry': {
            'type': 'Point',
            'coordinates': [row['Longitude'], row['Latitude']],
        },
        'properties': {
            'time': row['Store Opening Date'].isoformat(),
            'popup': row['Site'],
            'icon': 'circle',
            'iconstyle': {
                'fillColor': 'blue',
                'fillOpacity': 0.8,
                'stroke': 'false',
                'radius': 7
            }
        }
    } for idx, row in df.iterrows()
]

# Użycie TimestampedGeoJson
TimestampedGeoJson(
    {
        'type': 'FeatureCollection',
        'features': features,
    },
    period='P1M',
    add_last_point=True,
    auto_play=True,
    loop=False,
    max_speed=50,
    loop_button=True,
    date_options='YYYY-MM-DD',
    time_slider_drag_update=True
).add_to(m)

# Zapisywanie mapy z animacją do nowego pliku HTML
m.save('animated_map_with_dates.html')

MODYFIKACJE PONIŻEJ

1. DZIAŁAJĄCA MAPA Z OKIENKIEM ZE ZMIENIAJĄCĄ SIĘ DATĄ

In [16]:
import pandas as pd
import folium

# Tworzenie mapy
m = folium.Map(location=[52.1000, 20.8000], zoom_start=6)

def create_legend():
    legend_html = '''
    <div style="position: fixed; 
         bottom: 200px; left: 20px; width: 180px; height: auto; 
         border:2px solid grey; z-index:9999; font-size:14px; 
         background-color: white; padding: 5px;">
         &nbsp; Legend: <br>
         <div id="date-display">Data: N/A</div>
    </div>'''
    return legend_html

script = '''
<script type="text/javascript">
    var dateDisplay = document.getElementById('date-display');
    function updateLegendDate() {
        // Użyj ogólnego selektora do znalezienia elementu daty, zamiast polegać na konkretnej ścieżce
        var slider = document.querySelector('a.leaflet-control-timecontrol.timecontrol-date');
        var currentDate = slider ? slider.innerHTML : 'No date';
        dateDisplay.innerHTML = 'Data: ' + currentDate;
    }
    // Cykliczne sprawdzanie i aktualizacja daty co 1 sekundę
    setInterval(updateLegendDate, 100);
</script>
'''

# Dodawanie TimestampedGeoJson do mapy dla animacji
features = [
    {
        'type': 'Feature',
        'geometry': {
            'type': 'Point',
            'coordinates': [row['Longitude'], row['Latitude']],
        },
        'properties': {
            'time': row['Store Opening Date'].isoformat(),
            'popup': row['Site'],
            'icon': 'circle',
            'iconstyle': {
                'fillColor': 'blue',
                'fillOpacity': 0.8,
                'stroke': 'false',
                'radius': 7
            }
        }
    } for idx, row in df.iterrows()
]

# Użycie TimestampedGeoJson
TimestampedGeoJson(
    {
        'type': 'FeatureCollection',
        'features': features,
    },
    period='P1M',
    add_last_point=True,
    auto_play=True,
    loop=False,
    max_speed=50,
    loop_button=True,
    date_options='YYYY-MM-DD',
    time_slider_drag_update=True
).add_to(m)

# Przykładowe użycie funkcji
legend = create_legend()
m.get_root().html.add_child(folium.Element(legend))
# Dodanie skryptu do mapy
m.get_root().html.add_child(folium.Element(script))
# Zapisywanie mapy z animacją do nowego pliku HTML
m.save('animated_map_with_dates_with_window.html')

2 DZIAŁAJĄCA MAPA Z OKIENKIEM ZE ZMIENIAJĄCĄ SIĘ DATĄ I WYKRESEM

In [1]:
import pandas as pd
import numpy as np
import folium
import json

df_chart = pd.DataFrame()
# DataFrame z datami i wartościami
df_chart[['Date', 'Value']] = df[['Store Opening Date', 'value']]
df_chart['Date'] = pd.to_datetime( df_chart['Date'], format='%Y-%m-%d')

df_chart['Date'] = df_chart['Date'].dt.strftime('%Y-%m-%d')
# Konwersja DataFrame do formatu JSON
chart_data_json = df_chart.to_json(orient='records')

# Tworzenie mapy
m = folium.Map(location=[52.1000, 20.8000], zoom_start=6.2)

def create_legend():
    legend_html = '''
    <div style="position: fixed; 
         top: 50; left: 600px; width: 200; height: 50; 
         border:2px solid grey; z-index:9999; font-size:14px; 
         background-color: white; padding: 5px;">
         <div id="date-display">Data: N/A</div>
    </div>'''
    return legend_html

def create_chart_window():
    chart_html = '''
    <div style="position: fixed; top: 50px; left: 20px; width: 400px; height: 200px; border:2px solid grey; z-index:9999; font-size:14px; background-color: white; padding: 5px;">
         <div id="chart-container" style="width: 380px; height: 180px;"></div>
    </div>'''
    return chart_html
plotly_script = '<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>'

# JavaScript do aktualizacji wykresu

script = f'''
<script type="text/javascript">
    var chartData = {chart_data_json};
    var accumulatedData = [];
    
    function updateChart(currentDate) {{
        var newFilteredData = chartData.filter(d => new Date(d.Date) <= new Date(currentDate));
        accumulatedData = newFilteredData;
        var trace1 = {{
            x: accumulatedData.map(d => d.Date),
            y: accumulatedData.map(d => d.Value),
            mode: 'lines', // Usunięcie punktów, pokazanie tylko linii
            line: {{
                color: '#007BFF', // Dodanie koloru linii, np. niebieskiego
                width: 3 // Grubość linii
            }}
        }};

        var annotations = [];
        if (accumulatedData.length > 0) {{
            var lastDataPoint = accumulatedData[accumulatedData.length - 1];
            annotations.push({{
                x: lastDataPoint.Date,
                y: lastDataPoint.Value,
                xref: 'x',
                yref: 'y',
                text: lastDataPoint.Value.toFixed(1),
                showarrow: false,
                arrowhead: 7,
                ax: 0,
                ay: -40,
                font: {{
                    family: 'Arial',
                    size: 16,
                    color: 'black',
                    weight: 'bold'
                }},
        bgcolor: 'white', // Tło adnotacji
        bordercolor: 'black', // Kolor obramowania adnotacji
        borderpad: 5, // Padding obramowania
        borderRadius: 5, // Zaokrąglenie narożników adnotacji
            }});
        }}

        var layout = {{
            title: 'Turnover',
            xaxis: {{
                title: 'Year',
                tickformat: '%Y', // Formatowanie etykiety osi X do pokazywania tylko lat
                showgrid: false, // Usunięcie siatki osi X
                type: 'date'
            }},
            yaxis: {{
                title: 'MPLN',
                showgrid: false // Usunięcie siatki osi Y
            }},
            autosize: true, // Dostosowanie rozmiaru wykresu do kontenera
            margin: {{ l: 50, r: 30, t: 30, b: 50 }}, // Marginesy
            paper_bgcolor: 'white', // Kolor tła wykresu
            plot_bgcolor: 'white', // Kolor tła obszaru danych
            annotations: annotations
        }};
        Plotly.newPlot('chart-container', [trace1], layout);
    }};

    function updateLegendDate() {{
        var slider = document.querySelector('a.leaflet-control-timecontrol.timecontrol-date');
        var currentDate = slider ? slider.innerHTML : 'No date';
        document.getElementById('date-display').innerHTML = '<span style="font-weight: bold; color: black; font-size: 24px;">' + currentDate + '</span>';
        updateChart(currentDate);
    }}
    setInterval(updateLegendDate, 100);
</script>

'''

features = [
    {
        'type': 'Feature',
        'geometry': {
            'type': 'Point',
            'coordinates': [row['Longitude'], row['Latitude']],
        },
        'properties': {
            'time': row['Store Opening Date'].isoformat(),
            'popup': row['Site'],
            'icon': 'circle',
            'iconstyle': {
                'fillColor': 'blue',
                'fillOpacity': 0.8,
                'stroke': 'false',
                'radius': 7
            }
        }
    } for idx, row in df.iterrows()
]

# Użycie TimestampedGeoJson
TimestampedGeoJson(
    {
        'type': 'FeatureCollection',
        'features': features,
    },
    period='P1M',
    add_last_point=True,
    auto_play=True,
    loop=False,
    max_speed=50,
    loop_button=True,
    date_options='YYYY-MM-DD',
    time_slider_drag_update=True
).add_to(m)

# Dodanie elementów HTML i skryptów do mapy

m.get_root().header.add_child(folium.Element(plotly_script))
m.get_root().html.add_child(folium.Element(script))
m.get_root().html.add_child(folium.Element(create_legend()))
m.get_root().html.add_child(folium.Element(create_chart_window()))

# Zapisywanie mapy z animacją do nowego pliku HTML
m.save('animated_map_with_dates_with_window_and_chart.html')

NameError: name 'df' is not defined

In [29]:
chart_data_json

'[{"Date":"2003-09-30","Value":10.9801098928},{"Date":"2003-10-25","Value":21.5464971123},{"Date":"2003-12-13","Value":27.1501116538},{"Date":"2004-09-30","Value":30.1045638897},{"Date":"2004-11-19","Value":33.0587190513},{"Date":"2004-12-03","Value":35.5017426511},{"Date":"2004-12-04","Value":36.8390388092},{"Date":"2005-03-15","Value":38.3670390104},{"Date":"2005-05-06","Value":39.4523587237},{"Date":"2005-05-07","Value":40.3743857563},{"Date":"2005-06-18","Value":41.437616522},{"Date":"2005-07-01","Value":43.2189617902},{"Date":"2005-08-27","Value":43.8484081625},{"Date":"2005-08-27","Value":44.3142559576},{"Date":"2005-08-31","Value":45.1725208498},{"Date":"2005-10-22","Value":45.7091937156},{"Date":"2005-11-23","Value":46.4768512455},{"Date":"2005-11-24","Value":46.7159276822},{"Date":"2005-12-03","Value":47.6476054002},{"Date":"2006-03-04","Value":48.4432362194},{"Date":"2006-03-11","Value":48.9492793473},{"Date":"2006-07-29","Value":49.5418495862},{"Date":"2006-08-05","Value":49.3861852167},{"Date":"2006-08-11","Value":49.7878819237},{"Date":"2006-09-30","Value":50.2355148104},{"Date":"2006-10-06","Value":51.2554417864},{"Date":"2006-10-28","Value":51.5913146436},{"Date":"2006-10-28","Value":51.4209733442},{"Date":"2006-12-16","Value":52.0977775985},{"Date":"2007-01-27","Value":52.5239189769},{"Date":"2007-02-10","Value":52.5738731898},{"Date":"2007-05-12","Value":53.1360475062},{"Date":"2007-05-26","Value":53.3319814233},{"Date":"2007-06-02","Value":54.0415366105},{"Date":"2007-08-11","Value":54.5006462321},{"Date":"2007-08-31","Value":54.120885123},{"Date":"2007-08-31","Value":54.8503116965},{"Date":"2007-11-30","Value":54.7949765663},{"Date":"2007-12-14","Value":55.507869825},{"Date":"2008-02-27","Value":55.3098552755},{"Date":"2008-05-09","Value":56.2693441776},{"Date":"2008-05-28","Value":55.9533665008},{"Date":"2008-06-06","Value":56.7122998601},{"Date":"2008-06-13","Value":57.082340706},{"Date":"2008-06-21","Value":57.055329636},{"Date":"2008-07-19","Value":56.8505315767},{"Date":"2008-08-02","Value":57.7666494046},{"Date":"2008-08-09","Value":57.5620075433},{"Date":"2008-09-04","Value":57.4609244172},{"Date":"2008-10-03","Value":57.6602521883},{"Date":"2008-11-14","Value":58.2980790133},{"Date":"2008-11-14","Value":58.1189263384},{"Date":"2008-11-27","Value":58.256462195},{"Date":"2008-12-12","Value":59.0578833744},{"Date":"2009-01-16","Value":59.3868720145},{"Date":"2009-02-04","Value":59.3694612227},{"Date":"2009-02-27","Value":59.7533064311},{"Date":"2009-04-03","Value":59.110348523},{"Date":"2009-04-24","Value":60.0146647044},{"Date":"2009-05-08","Value":59.5582004236},{"Date":"2009-08-28","Value":60.2171904806},{"Date":"2009-10-16","Value":60.2918589782},{"Date":"2009-12-12","Value":60.3840169935},{"Date":"2009-12-16","Value":60.4779999938},{"Date":"2010-02-03","Value":61.24620744},{"Date":"2010-02-05","Value":60.4545318526},{"Date":"2010-02-12","Value":60.664136364},{"Date":"2010-03-27","Value":61.1631331199},{"Date":"2010-04-22","Value":61.0510435343},{"Date":"2010-06-26","Value":61.1645980744},{"Date":"2010-07-09","Value":61.2887242271},{"Date":"2010-08-25","Value":61.4789518888},{"Date":"2010-10-22","Value":61.8520679568},{"Date":"2010-11-19","Value":62.0253925243},{"Date":"2010-11-19","Value":62.4651613816},{"Date":"2010-12-04","Value":62.0431741477},{"Date":"2010-12-17","Value":62.0441056585},{"Date":"2011-02-02","Value":62.4211437},{"Date":"2011-03-18","Value":63.0003254983},{"Date":"2011-04-15","Value":63.02972681},{"Date":"2011-04-29","Value":63.2511975226},{"Date":"2011-05-13","Value":63.0754473743},{"Date":"2011-05-28","Value":62.8867502067},{"Date":"2011-06-01","Value":63.2276517491},{"Date":"2011-07-08","Value":63.2555528398},{"Date":"2011-08-26","Value":63.2743655577},{"Date":"2011-08-30","Value":63.4113233511},{"Date":"2011-12-16","Value":63.7651098585},{"Date":"2012-03-30","Value":64.2801124337},{"Date":"2012-03-30","Value":64.0329115948},{"Date":"2012-06-01","Value":64.1599014401},{"Date":"2012-06-29","Value":64.2317177864},{"Date":"2012-07-13","Value":64.9567789812},{"Date":"2012-08-24","Value":64.1734285903},{"Date":"2012-08-24","Value":65.1599374796},{"Date":"2012-08-31","Value":65.2338068177},{"Date":"2012-10-12","Value":64.6300680397},{"Date":"2012-10-26","Value":65.5471283286},{"Date":"2012-11-30","Value":65.4137609335},{"Date":"2012-11-30","Value":65.5611461215},{"Date":"2012-12-14","Value":65.124633984},{"Date":"2013-02-15","Value":65.5437153073},{"Date":"2013-03-01","Value":65.2600270414},{"Date":"2013-03-01","Value":65.8934537917},{"Date":"2013-03-08","Value":65.9805414263},{"Date":"2013-04-12","Value":65.8226911068},{"Date":"2013-05-17","Value":65.9261739},{"Date":"2013-05-24","Value":65.7810637033},{"Date":"2013-06-28","Value":66.2183039911},{"Date":"2013-08-29","Value":66.3231491045},{"Date":"2013-08-30","Value":66.5300377066},{"Date":"2013-09-25","Value":66.0152983973},{"Date":"2013-10-18","Value":66.3178429318},{"Date":"2013-10-25","Value":66.6076109273},{"Date":"2013-11-23","Value":67.0931191041},{"Date":"2013-12-06","Value":67.173281213},{"Date":"2013-12-13","Value":66.7073641449},{"Date":"2013-12-13","Value":67.41326407},{"Date":"2014-03-28","Value":66.8358248177},{"Date":"2014-03-29","Value":67.1085999113},{"Date":"2014-04-11","Value":67.7307189887},{"Date":"2014-05-16","Value":67.4522307179},{"Date":"2014-05-16","Value":67.3212782411},{"Date":"2014-05-29","Value":67.131516803},{"Date":"2014-05-30","Value":67.950766429},{"Date":"2014-07-18","Value":67.6856563308},{"Date":"2014-07-18","Value":67.3330816138},{"Date":"2014-08-01","Value":67.7992636515},{"Date":"2014-08-13","Value":68.2658813656},{"Date":"2014-08-28","Value":68.2271485157},{"Date":"2014-09-19","Value":68.3020578051},{"Date":"2014-09-26","Value":68.5346819502},{"Date":"2014-10-15","Value":68.3044659275},{"Date":"2014-10-16","Value":68.4533886316},{"Date":"2014-11-07","Value":68.113431461},{"Date":"2014-11-07","Value":68.527194467},{"Date":"2014-11-29","Value":68.566139108},{"Date":"2014-11-29","Value":68.7518841449},{"Date":"2014-12-12","Value":68.5018853939},{"Date":"2014-12-12","Value":68.7233991674},{"Date":"2015-01-30","Value":68.9399368711},{"Date":"2015-02-20","Value":68.8083002268},{"Date":"2015-03-21","Value":68.6499775771},{"Date":"2015-03-27","Value":68.6219010216},{"Date":"2015-03-27","Value":69.1468792372},{"Date":"2015-04-17","Value":69.2813557354},{"Date":"2015-04-17","Value":69.6129341302},{"Date":"2015-08-27","Value":69.3321800402},{"Date":"2015-09-25","Value":69.4164330103},{"Date":"2015-09-25","Value":69.8380570346},{"Date":"2015-10-02","Value":69.2781653178},{"Date":"2015-10-09","Value":69.5352047917},{"Date":"2015-11-07","Value":70.0504920716},{"Date":"2015-11-13","Value":69.6892605155},{"Date":"2015-12-04","Value":69.4495395399},{"Date":"2016-02-05","Value":70.1430076296},{"Date":"2016-02-12","Value":70.0327967872},{"Date":"2016-02-12","Value":70.1545545692},{"Date":"2016-03-04","Value":70.3088999261},{"Date":"2016-04-01","Value":70.0368331712},{"Date":"2016-04-15","Value":70.5622261556},{"Date":"2016-05-06","Value":69.9293368085},{"Date":"2016-05-13","Value":70.0805596529},{"Date":"2016-05-19","Value":70.1726210376},{"Date":"2016-05-20","Value":70.3876912476},{"Date":"2016-05-27","Value":71.074353804},{"Date":"2016-06-10","Value":70.4880832013},{"Date":"2016-09-02","Value":70.5971690364},{"Date":"2016-10-14","Value":70.3130122279},{"Date":"2016-12-09","Value":71.2798406937},{"Date":"2017-02-02","Value":70.8663588194},{"Date":"2017-02-23","Value":70.4932401693},{"Date":"2017-04-27","Value":70.7014432213},{"Date":"2017-05-25","Value":71.093093856},{"Date":"2017-06-08","Value":71.5636252876},{"Date":"2017-06-22","Value":71.1874521311},{"Date":"2017-06-29","Value":71.7147350964},{"Date":"2017-06-29","Value":71.8074246022},{"Date":"2017-08-28","Value":71.1043142706},{"Date":"2017-08-31","Value":71.8435284617},{"Date":"2017-08-31","Value":71.9018705716},{"Date":"2017-11-30","Value":71.5614131782},{"Date":"2018-01-25","Value":71.377712771},{"Date":"2018-02-22","Value":71.7208282482},{"Date":"2018-03-21","Value":71.9458517899},{"Date":"2018-05-24","Value":72.080977027},{"Date":"2018-06-29","Value":71.6556574574},{"Date":"2018-07-12","Value":71.7180101806},{"Date":"2018-07-19","Value":71.9533536761},{"Date":"2018-08-02","Value":72.2393076171},{"Date":"2018-08-03","Value":72.3489021175},{"Date":"2018-11-10","Value":71.9479243173},{"Date":"2018-11-29","Value":71.8717890198},{"Date":"2018-12-13","Value":72.3521995723},{"Date":"2019-01-24","Value":71.8197506028},{"Date":"2019-02-07","Value":72.8174086079},{"Date":"2019-02-21","Value":72.0989836603},{"Date":"2019-03-13","Value":72.1993373871},{"Date":"2019-05-23","Value":72.2189931031},{"Date":"2019-06-12","Value":72.8190061107},{"Date":"2019-08-29","Value":72.8786630188},{"Date":"2019-08-29","Value":73.1595062571},{"Date":"2020-02-07","Value":72.7388139536},{"Date":"2020-04-28","Value":72.7392674057},{"Date":"2020-06-03","Value":72.8970789438},{"Date":"2020-07-09","Value":73.0228595386},{"Date":"2020-07-29","Value":72.6470266176},{"Date":"2020-11-04","Value":73.0582027912},{"Date":"2020-11-14","Value":72.605611453},{"Date":"2020-12-02","Value":73.1108715031},{"Date":"2020-12-09","Value":73.3757436991},{"Date":"2021-01-13","Value":72.9630458323},{"Date":"2021-02-24","Value":73.4522025831},{"Date":"2021-03-31","Value":73.5269110033},{"Date":"2021-05-12","Value":73.7270138752},{"Date":"2021-05-13","Value":73.3693651561},{"Date":"2021-05-19","Value":73.7690276313},{"Date":"2021-06-23","Value":73.284781507},{"Date":"2021-07-14","Value":73.7069946418},{"Date":"2021-07-28","Value":73.6850120079},{"Date":"2021-08-11","Value":73.8824724645},{"Date":"2021-08-25","Value":73.1808312048},{"Date":"2021-08-25","Value":73.6925514722},{"Date":"2021-10-14","Value":74.1157984695},{"Date":"2021-12-08","Value":73.5481126051},{"Date":"2022-01-26","Value":74.0027419889},{"Date":"2022-02-02","Value":73.6103670043},{"Date":"2022-02-09","Value":74.2420043676},{"Date":"2022-02-23","Value":73.9426005401},{"Date":"2022-03-26","Value":73.7358003271},{"Date":"2022-04-20","Value":73.7820619307},{"Date":"2022-04-20","Value":73.6606994405},{"Date":"2022-04-28","Value":74.420335442},{"Date":"2022-05-11","Value":74.1035243886},{"Date":"2022-05-11","Value":74.5489866703},{"Date":"2022-05-12","Value":74.2429976339},{"Date":"2022-05-18","Value":74.574893139},{"Date":"2022-06-01","Value":74.7870410187},{"Date":"2022-07-06","Value":74.0721611357},{"Date":"2022-07-13","Value":74.0455324821},{"Date":"2022-07-20","Value":74.9255691938},{"Date":"2022-07-20","Value":74.7120013587},{"Date":"2022-08-17","Value":74.8353818412},{"Date":"2022-08-24","Value":74.8140894499},{"Date":"2022-08-31","Value":75.0708927397},{"Date":"2022-09-07","Value":75.0141762457},{"Date":"2022-09-21","Value":74.7751116264},{"Date":"2022-10-12","Value":74.4163724642},{"Date":"2022-10-26","Value":74.79047997},{"Date":"2022-11-16","Value":74.7543521986},{"Date":"2022-11-23","Value":75.2812440805},{"Date":"2022-11-30","Value":75.1224815407},{"Date":"2022-12-06","Value":75.533517229},{"Date":"2022-12-07","Value":75.5457050219},{"Date":"2022-12-14","Value":75.2590704221},{"Date":"2022-12-27","Value":74.967629639},{"Date":"2022-12-27","Value":74.8791151096},{"Date":"2023-01-18","Value":75.5224126729},{"Date":"2023-03-29","Value":75.3683992953},{"Date":"2023-04-26","Value":75.7490587148},{"Date":"2023-05-31","Value":75.2361777421},{"Date":"2023-06-28","Value":75.8708507529},{"Date":"2023-07-12","Value":75.8420625439},{"Date":"2023-08-09","Value":75.8241319418},{"Date":"2023-08-23","Value":75.0744706568},{"Date":"2023-08-30","Value":75.2940508456},{"Date":"2023-10-04","Value":76.0414635044},{"Date":"2023-10-13","Value":75.6531465267},{"Date":"2023-11-03","Value":75.8434220957},{"Date":"2023-11-22","Value":75.3751800032},{"Date":"2023-12-06","Value":75.9285296124},{"Date":"2023-12-13","Value":76.0569573606},{"Date":"2023-12-15","Value":75.7465106508},{"Date":"2024-01-03","Value":75.9614923045},{"Date":"2024-01-10","Value":75.7432638871},{"Date":"2024-03-28","Value":75.8436234217},{"Date":"2024-03-29","Value":76.3170391644},{"Date":"2024-04-18","Value":75.769344464}]'

In [33]:
dfj = pd.read_json(chart_data_json)
dfj.head(3)

C:\Users\User\AppData\Local\Temp\ipykernel_1340\828119384.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfj = pd.read_json(chart_data_json)

        Date      Value
0 2003-09-30  10.980110
1 2003-10-25  21.546497
2 2003-12-13  27.150112

In [34]:
df.head(3)

   Unnamed: 0  Site  Longitude  Latitude Store Opening Date      value
0          38  P240   23.13275  53.13862         2003-09-30  10.980110
1          41  P243   20.90645  52.23998         2003-10-25  21.546497
2          42  P244   16.83961  52.35381         2003-12-13  27.150112

In [35]:
merg = dfj.merge(df, how='left', left_on='Date', right_on='Store Opening Date')
merg

,Date,Value,Unnamed: 0,Site,Longitude,Latitude,Store Opening Date,value
0,2003-09-30,10.980110,38,P240,23.13275,53.13862,2003-09-30,10.980110
1,2003-10-25,21.546497,41,P243,20.90645,52.23998,2003-10-25,21.546497
2,2003-12-13,27.150112,42,P244,16.83961,52.35381,2003-12-13,27.150112
3,2004-09-30,30.104564,44,P246,15.12785,51.63961,2004-09-30,30.104564
4,2004-11-19,33.058719,45,P247,19.35008,51.66521,2004-11-19,33.058719
...,...,...,...,...,...,...,...,...
327,2024-01-03,75.961492,295,P502,14.88598,53.14755,2024-01-03,75.961492
328,2024-01-10,75.743264,296,P503,17.70335,52.84987,2024-01-10,75.743264
329,2024-03-28,75.843623,298,P505,17.71277,51.29909,2024-03-28,75.843623
330,2024-03-29,76.317039,299,P506,16.21605,54.16539,2024-03-29,76.317039
331,2024-04-18,75.769344,300,P507,15.53267,52.26153,2024-04-18,75.769344

In [ ]:
df_chart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Store Opening Date  278 non-null    datetime64[ns]
 1   value               278 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.5 KB

In [3]:
def decorator(func):
    def wrapper():
        print("Before function execution")
        func()
        print("After function execution")
    return wrapper
@decorator
def my_function():
    print("Inside the function")
my_function()

Before function execution
Inside the function
After function execution